import ModuleConfigTypes from "@/modules/pais-template/core/config/ModuleConfigTypes";
import TOEModule from '@/modules/toe/router/index';
const ModuleConfig: ModuleConfigTypes = {
    modules: [
        {
            asideHeading: 'TOE',
            topHeading: 'Table of Organization and Equipment',
            moduleName: 'toe',
            children : TOEModule,
            route: '/table-of-organization-and-equipment',
            svgIcon: '/media/icons/duotone/Files/User-folder.svg'

        }
    ]
}
export default ModuleConfig;