.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Core files
.env
.gitmodules
/keys

src/modules/*
!/src/modules/Module.ts.sample
!/src/modules/Store.ts.sample

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock
package-lock.json
access-rights/~*.xlsx
vue.config.js
