import ModuleConfigTypes from "@/modules/pais-template/core/config/ModuleConfigTypes";
import SUMISModule from '@/modules/sumis/router/index';
const ModuleConfig: ModuleConfigTypes = {
    modules: [
        {
            asideHeading: 'SUMIS',
            topHeading: 'Suppy Management Information System',
            moduleName: 'sumis',
            children : SUMISModule,
            route: '/supply-management-information-system',
            fontIcon: 'las la-shield-alt'
        }
    ]
}
export default ModuleConfig;