// Modules store
/******* begin:: INCLUDE STORE HERE ********/
import PaisStore from '@/modules/pais-template/store/index';
import SumisStore from '@/modules/sumis/store/index';
export default {
    ...PaisStore,
    // IMPORT FOLLOWING HERE.
    ...SumisStore,
}
/******* end:: INCLUDE STORE HERE ********/