[submodule "src/modules/pais-template"]
	path = src/modules/pais-template
	url = http://10.50.4.9:8001/PAIS/vue-frontend.git
	branch = main
[submodule "src/modules/sample-sub-module"]
	path = src/modules/sample-sub-module
	url = http://10.50.4.9:8001/PAIS/sample-sub-module.git
	branch = master