VUE_APP_API_URL=http://10.50.30.166
VUE_APP_MOCKAPI_PORT=3000
VUE_APP_SITENAME=PAHRMIS
VUE_APP_SITENAME_FULL=Philippine Army Human Resource Management Information System
VUE_APP_VERSION="1.0"
VUE_APP_PROJECT_STARTED=2020