// Modules store
/******* begin:: INCLUDE STORE HERE ********/
import PaisStore from '@/modules/pais-template/store/index';
import UcsStore from '@/modules/ucs/store/index';
import CmisStore from '@/modules/cmis/store/index';
import MpisStore from '@/modules/mpis/store/index';
import OrderpubStore from '@/modules/orderpub/store';
import MpfStore from '@/modules/mpf/store';
import DirasStore from '@/modules/diras/store';
export default {
    ...PaisStore,
    // IMPORT FOLLOWING HERE.
    ...UcsStore,
    ...CmisStore,
    ...MpisStore,
    ...OrderpubStore,
    ...MpfStore,
    ...DirasStore
}
/******* end:: INCLUDE STORE HERE ********/